/xml_training/training4/nbproject/private/
/xml_training/training4/dist/
/xml_training/training4/build/
/jms_training/training1/nbproject/private/
/jms_training/training1/build/
/jms_training/training2/nbproject/private/
/jms_training/training2/build/