/xml_training/training4/build/
/xml_training/training4/dist/
/xml_training/training4/nbproject/private/
/jms_training/training1/build/
/jms_training/training1/dist/
/jms_training/training1/nbproject/private/
/jms_training/training2/build/
/jms_training/training2/dist/
/jms_training/training2/nbproject/private/
/jms_training/training3/build/
/jms_training/training3/dist/
/jms_training/training3/nbproject/private/
/jms_training/training4/build/
/jms_training/training4/dist/
/jms_training/training4/nbproject/private/
/Common/build/
/Common/dist/
/Common/nbproject/private/
/WebCrawler/build/
/WebCrawler/dist/
/WebCrawler/nbproject/private/
/HTMLSummaryCreator/build/
/HTMLSummaryCreator/dist/
/HTMLSummaryCreator/nbproject/private/
/PriceKeeper/build/
/PriceKeeper/dist/
/PriceKeeper/nbproject/private/
/PriceRequester/nbproject/private/
/PriceRequester/build/
/PriceRequester/dist/